*{user-select: none;}
*{box-sizing: border-box}
.containers
{
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: start;
    height: 100vh;
    background-color: hsl(210 ,79%, 46%);
    margin: 0px;
    padding: 10px;
    flex-direction: column;
    row-gap: 5%;
}
.containers input
{
    border: solid rgb(209, 216, 233) 2px;
    background-color: hwb(229 9% 31% / 0.703);
    color: aliceblue;
    text-align: center;
}
.containers .switch
{
    flex-direction: row;
    border: solid rgb(209, 216, 233) 2px;
    background-color: hwb(229 9% 31% / 0.703);
    color: aliceblue;
    text-align: center;
    width: 25%;
}
#Text
{
    display: flex;
    border: solid rgb(255, 255, 255) 2px;
    background-color: rgb(43, 4, 105);
    color: aliceblue;
    text-align: center; 
    height: 30%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    border-radius: 30px;  
}

.inputs
{
    height: 5em;
    width: 80%;
    text-transform: capitalize;
}
.inputs::placeholder
{
    color:aliceblue;
}
#submit_btn
{
    height: 5.4em;
    width: 51%;
    border: solid rgb(184, 194, 216) 2px;
    background-color: rgb(25, 55, 190);
    color: aliceblue;
    text-align: center;
    
}

@media screen and (max-width:600px)
{
    .inputs:focus
{
    transition: border-radius 1s;
    border-radius: 30px;
    order: -1;
}


}
.inputs:focus
{
    transition: border-radius 1s;
    border-radius: 30px;
}
#debugger
{
    display: none;
    text-align: center;
    background-color: black;
    color: green;
}
